<h1>
    Admin
</h1>
<hr/>

<section>
    <h2>
        Korisnici
    </h2>
    <nav style="border-bottom: 3px solid dodgerblue">
        <ul style="display: flex; gap: 10px; color: white;">
            <li>
                <a 
                    routerLink="newUser"
                    routerLinkActive="activeLink"
                >
                    Napravi nalog
                </a>
            </li>
            <li>
                <a 
                    routerLink="users"
                    routerLinkActive="activeLink"
                >
                    Svi korisnici
                </a>
            </li>
        </ul>
    </nav>
    <main>
        <router-outlet></router-outlet>
    </main>
</section>