<form (ngSubmit)="onSubmit()" #submitForm="ngForm">
    <h2>Ime i prezime: {{ user.fullName }}</h2>
    <input 
        type="text" 
        name="fullName" 
        id="" 
        [value]="user.fullName"
    />
    <h2>Korisničko ime: {{ user.username }}</h2>
    <input 
        type="text" 
        name="username" 
        id="" 
        [value]="user.username"
    />
    <hr/>
    <button type="submit">
        Sacuvaj izmene
    </button>
    <hr/>
</form>

<button (click)="onUserDelete()">
    Obriši korisnika
</button>