<h2>Napravi korisnika</h2>
<hr/>
<form [formGroup]="newUserForm" (ngSubmit)="addNewUser()">
    <p><b>Uloga:</b></p>
    <ul>
        <li>
            <label for="newAdministrator">
                Administrator
            </label>
            <input type="radio" formControlName="role"  value="admin" id="newAdministrator" checked>
        </li>
        <li>
            <label for="newSalesperson">
                Prodavac
            </label>
            <input type="radio" formControlName="role" value="salesperson" id="newSalesperson">
        </li>
        <li>
            <label for="newOperator">
                Operator
            </label>
            <input type="radio" formControlName="role" value="operater" id="newOperator">
        </li>
        <li>
            <label for="newReporter">
                Reporter
            </label>
            <input type="radio" formControlName="role" value="reporter" id="newReporter">
        </li>
    </ul>

    <div style="display: flex; flex-direction: column;">
        <label for="fullName">
            Ime i prezime:
        </label>
        <input type="text" name="fullName" id="fullName" formControlName="fullName"/>
    </div>

    <div style="display: flex; flex-direction: column;">
        <label for="username">
            Korisničko ime:
        </label>
        <input type="text" name="username" id="username" formControlName="username"/>
    </div>
    
    <div style="display: flex; flex-direction: column;">
        <label for="password">
            Lozinka:
        </label>
        <input type="password" name="password" id="password" formControlName="password"/>
    </div>

    <button type="submit" [disabled]="!newUserForm.valid">
        Dodaj korisnika
    </button>
</form>